{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Lazy River Shelter - {% block title %}Adopt a Dog{% endblock %}</title>
  <link rel="stylesheet" href="{% static "css/tachyons.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  {% block meta %}{% endblock %}
</head>

<body class="sans-serif">
  <header class="pv3 bg-navy white bb bw2 b--washed-green">
    <div class="flex justify-between items-center mw8 center">
      <h1 class="site-logo"><a class="white" href="/">Lazy River Shelter</a></h1>
      <nav class="main-menu">
        <ul class="main-menu__list list pl0 tr">          
          <li class="ph2 dib"><a class="no-underline white" href="/contact/">Contact Us</a></li>                    
          {% if request.user.is_authenticated %}
            <li class="ph2 dib">
              {{ user.username }}
            </li>
            <li class="ph2 dib">
              <a class="no-underline white" href="{% url 'auth_logout' %}">Logout</a>
            </li>            
          {% else %}
            <li class="ph2 dib">
              <a class="no-underline white" href="{% url 'auth_login' %}">Register / Login</a>
            </li>
          {% endif %}
          </li>                    
        </ul>
      </nav>
    </div>
  </header>
  <div class="container mw8 center">
    {% if messages %}
      {% for message in messages %}
        <div class="justify-center ba br2 pa3 mv2 {{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}


    {% block content %}{% endblock %}
  </div>  
</body>

</html>
